<div class="column">   
    <article class="media box">            
      <div class="media-left">
        <figure class="image is-square is-64x64">
           <%= show_photo(current_user) %>
        </figure>       
      </div>    
      <div class="media-content">
         <%= render 'form' %>
      </div>   
    </article>

    <% @opinions.each do |opinion| %>
    <div class="box">
      <article class="media">
        <div class="media-left">      
          <figure class="image is-square is-64x64">
            <%= show_photo(opinion.user) %>
          </figure>
       
        </div>
        <div class="media-content">
          <div class="content">
            <strong>
              <%= link_to(opinion.user.username, user_path(opinion.user)) %></strong> </br>          
            <small><%=opinion.user.fullname%></small></br>
            <p> <%= opinion.text %></p></div>           
          </div>
          <div class="">
            
            <%= edit_destroy_btn(opinion) %>  </br>
            <%= like_or_dislike_btn(opinion) %> </br></br>
            <small><%= opinion.likes.count %> People liked it</small> 
          </div>
       
      </article>
    </div>
    <% end %>
</div>