<h2>Log in</h2>

<%= simple_form_for @user, url:user_session_path do |f| %>
  <%= f.input :username %>
  <%= f.input :password, wrapper_html: { id: 'password' } %>
  <%= f.button :submit %>
<% end %>


<%= render "devise/shared/links" %>
